*{
    box-sizing: content-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 15px 20px;
    padding: 7px;
}

.container{
    background-color: rgb(90, 218, 90);
    padding: 5px 15px 20px 15px;
    border: gray;
    border-radius: 5px;
}

input [type="text"],
input [type="address"],
input [type="email"],
input [type="pincode"],
input [type="date"],
select, 
textarea{
    width: 100%;
    padding: 12px;
    border:rgb(19, 25, 19);
    border-radius: 5px;
    margin: 10px; 
}

main_heading{
    text-align: center;

}

input [type="submit"],{
    background-color="blue"
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100% ;
}

input [type="submit"]:hover{ 
    background-color: blueviolet;
}